
@model LabTask1.Models.Stadium
@{
    ViewBag.Title = "Stadium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stadium Information</h2>
<hr>

<div>
    <h6>Stadium Location: </h6>
    <text>@Model.Location</text>
    <h6>Stadium Capacity: </h6>
    <text>@Model.Capacity</text>

</div>


