@model LabTask1.Models.Staff
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff Information</h2>
<hr>

<div>
    <h6>Staff Id: </h6>
    <text>@Model.Id</text>
    <h6>Staff Name: </h6>
    <text>@Model.Name</text>
    <h6>Staff Position: </h6>
    <text>@Model.Position</text>


